<template>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <center>
                    <div class="card-header">Edit Details here</div>
                </center>

                <form style="background-color:white; padding-top:30px; padding-left:30px" @submit.prevent="updateUser('top-right', 'success')">
                    <!-- <label for="fname">First Name</label> -->

                    <div class="grid grid-cols-3 gap-4">
                        <div>
                            <vs-input dark required v-model="formData.fname" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" type="text" id="fname" name="fname" label-placeholder="First Name" />
                        </div>
                        <div>
                            <vs-input dark required v-model="formData.lname" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" type="text" id="lname" name="lname" label-placeholder="Last Name" />
                        </div>

                        <div>
                            <vs-input required type="text" v-model="formData.phone" id="phone" name="phone" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="13" label-placeholder="Phone Number" />
                        </div>
                    </div><br><br>

                    <div class="grid grid-cols-3 gap-4">
                        <div>
                            <vs-input required v-model="formData.email" type="email" id="email" name="email" label-placeholder="Email" />
                        </div>
                        <div>
                            <vs-input required v-model="formData.district" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" type="text" id="districts" name="districts" label-placeholder="District" />
                        </div>
                        <div>
                            <vs-input required type="date" v-model="formData.dateOfBirth" id="dateOfBirth" name="dateOfBirth" label-placeholder="Date" />
                        </div>

                    </div><br>
                    <div class="grid grid-cols-3 gap-6" style="padding-right:60px">
                        <div>
                            <label for="group">Marriage Status</label>
                            <select required v-model="formData.marriage_status" id="marriage_status" name="marriage_status">
                                <option value="Married">Married</option>
                                <option value="Single">Single</option>
                            </select>
                        </div>

                        <div>
                            <label for="group">Title</label>
                            <select required v-model="formData.title" id="title" name="title">
                                <option value="None">None</option>
                                <option value="Pastor">Pastor</option>
                                <option value="Elder">Elder</option>
                                <option value="Deacon">Deacon</option>
                            </select>
                        </div>
                        <div>
                            <label for="group">Gender</label>
                            <select required v-model="formData.gender" id="gender" name="gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div><br>

                    <div style="padding-right:60px" class="grid grid-cols-1 gap-6">
                        <div>
                            <label for="image">Select Group:</label>
                            <select required label-placeholder="Church group" v-model="formData.group" id="group" name="group">
                                <option v-for="group in groups" :key="group.id" v-bind:value="group.name">
                                    {{group.name}}
                                </option>
                            </select>
                        </div>
                        <!-- <div>
                            <label for="fname">Photo (passport size) </label>
                            <input type="file" id="image" name="image" ref="file" @change="handleFileObject()">
                        </div> -->

                    </div>

                    <div style="padding-right:60px" class="grid grid-cols-1 gap-6">
                        <div>
                            <textarea required rows="5" cols="30" v-model="formData.testimony" type="text" id="testimony" name="testimony" placeholder="Testimony.."> </textarea>
                        </div>

                        <button class="submitbtn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {

    data() {
        return {
            formData: {},
            image: '',
            groups: {},
            // age: ''
        }
    },
    mounted() {
        let uri = `/api/grouplist/`;
        this.axios.get(uri).then(response => {
            this.groups = response.data.list;

        }).catch(error => {
            (error)
            this.$notify({
                group: 'foo',
                text: 'Could not load data in the table',
                type: 'error',
                title: 'Error'
            });
        });
    },
    created() {
        const token = 'Bearer  ' + localStorage.getItem('token');
        let uri = `/api/edituser/${this.$route.params.id}`;
        this.axios.get(uri, {
            headers: {
                Authorization: token
            }
        }).then((response) => {
            if (response.data) {
                this.formData = response.data.user;
            }

        }).catch(error => {
            console.log(error)

        });
    },
    methods: {
        handleFileObject() {
            this.image = this.$refs.file.files[0]
        },
        updateUser(position = null, color) {
            const loading = this.$vs.loading({
                text: 'Updating.Please wait...',
                type: 'scale'
            })

            // let formData = new FormData()
            // formData.append('image', this.image)
            // _.each(this.formData, (value, key) => {
            //     formData.append(key, value)
            // })

            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = `/api/user/update/${this.$route.params.id}`;
            this.axios.put(uri, this.formData, {
                headers: {
                    Authorization: token,
                    // 'Content-Type': "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2)
                }
            }).then((response) => {
                loading.close()
                if (response.data.status) {
                    const noti = this.$vs.notification({
                        color,
                        position,
                        title: 'Success',
                        text: response.data.message
                    })

                    this.$router.push({
                        name: 'home'
                    });

                }
            }).catch(error => {
                consol.log(error)
                this.$router.push({
                    name: 'home'
                });
                loading.close()

            });
        }
    },
}
</script>

<style scoped>
input[type=file],
input[type=date],
textarea[type=text],
button,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    /* background-color: #45a049; */
}

/* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */
</style>
