<template>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <center>
                    <div class="card-header"><b>Edit Profile Pic</b></div>
                </center>

                <form @submit.prevent="updatePic('top-right','success')">
                    <label for="image">Photo (passport size) </label>
                    <input required type="file" id="image" name="image" ref="file" @change="handleFileObject()">
                    <button class="submitbtn" type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            formData: {},
            image: null
        }
    },
    methods: {
        handleFileObject() {
            this.image = this.$refs.file.files[0]
        },
        reload() {
            this.$router.go();
        },
        updatePic(position = null, color) {
            const loading = this.$vs.loading({
                text: 'Updating user image...',
                type: 'scale'
            })

            let formData = new FormData()
            formData.append('image', this.image)
            _.each(this.formData, (value, key) => {
                formData.append(key, value)
            })

            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = `/api/update/image/${this.$route.params.id}`;
            this.axios.post(uri, formData, {
                headers: {
                    Authorization: token,
                    'Content-Type': "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2)
                }
            }).then((response) => {
                loading.close()
                if (response.data.status) {

                    const noti = this.$vs.notification({
                        color,
                        position,
                        title: 'Success',
                        text: response.data.message
                    })
                    this.$refs.file.value = null;
                }
                this.$router.back(-1)
                // this.$router.push({
                //     name: 'viewuser'
                // });

            }).catch(error => {
                alert(error)
                // if (error.response.status === 401) {
                //     this.$router.push({
                //         name: 'register'
                //     });

                // } else {
                //     loading.close();
                //     const noti = this.$vs.notification({
                //         color: 'danger',
                //         position,
                //         title: 'Error',
                //         text: 'Email or Phone has already been registered by another user!'
                //     })

                //     // this.formData.email='',
                //     // this.formData.phone=''
                //     // this.$router.push({name: 'members'});
                // }
            });
        }
    }
}
</script>

<style scoped>
input[type=file],
button,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */
</style>
