<template>
<div class="bg-gray-100">
    <div class="w-full text-white bg-main-color">
        <!-- <div x-data="{ open: false }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
            <div class="p-4 flex flex-row items-center justify-between">
                <a href="#" class="text-lg font-semibold tracking-widest uppercase rounded-lg focus:outline-none focus:shadow-outline">example
                    profile</a>
                <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" x-on:click="open = !open">
                    <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                        <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                        <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row">
                <div x-on:click.away="open = false" class="relative" x-data="{ open: false }">
                    <button x-on:click="open = !open" class="flex flex-row items-center space-x-2 w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent hover:bg-blue-800 md:w-auto md:inline md:mt-0 md:ml-4 hover:bg-gray-200 focus:bg-blue-800 focus:outline-none focus:shadow-outline">
                        <span>Jane Doe</span>
                        <img class="inline h-6 rounded-full" src="https://avatars2.githubusercontent.com/u/24622175?s=60&amp;v=4">
                        <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 transition-transform duration-200 transform">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48">
                        <div class="py-2 bg-white text-blue-800 text-sm rounded-sm border border-main-color shadow-sm">
                            <a class="block px-4 py-2 mt-2 text-sm bg-white md:mt-0 focus:text-gray-900 hover:bg-indigo-100 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Settings</a>
                            <a class="block px-4 py-2 mt-2 text-sm bg-white md:mt-0 focus:text-gray-900 hover:bg-indigo-100 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Help</a>
                            <div class="border-b"></div>
                            <a class="block px-4 py-2 mt-2 text-sm bg-white md:mt-0 focus:text-gray-900 hover:bg-indigo-100 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Logout</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div> -->
    </div>
    <!-- End of Navbar -->

    <div class="container mx-auto my-5 p-5">
        <div class="md:flex no-wrap md:-mx-2 ">
            <!-- Left Side -->
            <div class="w-full md:w-3/12 md:mx-2">
                <!-- Profile Card -->
                <div class="bg-white p-3 border-t-4 border-green-400">
                    <router-link :to="{name: 'editpic', params: { id: info.id }}"><u>Change Picture</u></router-link><br><br>

                    <div class="image overflow-hidden">
                        <img class="h-auto w-full mx-auto" :src="'/storage/'+info.image" alt="">
                    </div>
                    <!-- <div class="con-avatars">
                        <vs-avatar size="200" badge badge-color="success">
                            <img :src="'/storage/'+info.image" alt="">
                        </vs-avatar>
                    </div> -->
                    <center>
                        <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">{{info.fname}} {{info.lname}}</h1>
                    </center>

                </div>
                <!-- End of profile card -->
                <div class="my-4"></div>

            </div>
            <!-- Right Side -->
            <div class="w-full md:w-9/12 mx-2 h-64">

                <div class="bg-white p-3 shadow-sm rounded-sm">
                    <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
                        <span clas="text-green-500">
                            <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                            </svg>
                        </span>
                        <span class="tracking-wide">About</span>
                    </div>
                    <div class="text-gray-700">
                        <div class="grid md:grid-cols-2 text-sm">
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold"><b>First Name :</b></div>
                                <div class="px-4 py-2">{{info.fname}}</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold"><b>Last Name :</b></div>
                                <div class="px-4 py-2">{{info.lname}}</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold"><b>Gender :</b></div>
                                <div class="px-4 py-2">{{info.gender}}</div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold"><b>Contact No :</b></div>
                                <div class="px-4 py-2">{{info.phone}}</div>
                            </div>
                            <!-- <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">District :</div>
                                <div class="px-4 py-2">{{info.district}}</div>
                            </div> -->

                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold"><b>Email :</b></div>
                                <div class="px-4 py-2">
                                    <a class="text-blue-800">{{info.email}}</a>
                                </div>

                                <div class="px-4 py-2 font-semibold"><b>Age :</b></div>
                                <div class="px-4 py-2">{{age}} Yrs</div>

                                <div class="px-4 py-2 font-semibold"><b>District :</b></div>
                                <div class="px-4 py-2">{{info.district}}</div>
                            </div>

                        </div>
                    </div>

                    <!-- End of about section -->

                    <div class="my-4"></div>

                    <!-- Experience and education -->
                    <div class="bg-white p-3 shadow-sm rounded-sm">
                        <b><u>
                                <h1>Testimony :</h1>
                            </u></b><br>
                        <hr>
                        <textarea class="bg-white p-3 shadow-sm rounded-sm" v-model="info.testimony" name="textarea" id="textarea" cols="75" rows="15" readonly></textarea>

                        <!-- End of Experience and education grid -->
                    </div>
                    <!-- End of profile tab -->
                </div>
            </div>
        </div>
    </div>

</div>
</template>

<script>
const moment = require('moment');
export default {

    data() {
        return {
            info: {},
            age: ''
        }
    },
    created() {
        const token = 'Bearer  ' + localStorage.getItem('token');
        let uri = `/api/viewuser/${this.$route.params.id}`;
        this.axios.get(uri, {
            headers: {
                Authorization: token
            }
        }).then((response) => {
            if (response.data) {
                this.info = response.data.user;
            }

            var birth_date = this.info.dateOfBirth; //getting date from api
            var current_date = new Date().toJSON().slice(0, 10); //getting current date

            //getting age using moment
            const dateC = moment(birth_date);
            const dateB = moment(current_date);
            this.age = (`${dateB.diff(dateC, 'years')}`);

        }).catch(error => {
            (error)
            this.$notify({
                group: 'foo',
                text: 'Login to access this page',
                type: 'error',
                title: 'Error'
            });

            this.$router.push({
                name: 'login'
            });
            this.$router.go();
        });
    }
}
</script>

<style scoped>
img {
    border-radius: 100%;
}

textarea {
    padding: 7px;
}
</style>
