<template>
<!-- This example requires Tailwind CSS v2.0+ -->
<main class="lg:col-span-9 xl:col-span-9">
    <div class="flex items-center px-6 py-4 md:max-w-3xl md:mx-auto lg:max-w-none lg:mx-0 xl:px-0">
        <div class="w-full">
            <label for="search" class="sr-only">Search</label>
            <div class="relative">
                <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">

                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                    </svg>
                </div>
                <form>
                    <input type="text" v-model="keyword" v-on:keyup="filter('top-right','warn')" class="block w-full bg-white border border-gray-300 rounded-md py-2 pl-10 pr-3 text-sm placeholder-gray-500 focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Search by names, phone and district">
                </form>
            </div>
        </div>
    </div>
    Total Members: <b>{{count}}</b>
    <!-- <div class="center con-avatars">
        <vs-avatar-group max="10">
            <vs-avatar size="70" v-for="result in resources" :key="result.id">
                <img :src="'/storage'+result.image" alt="">
            </vs-avatar>
        </vs-avatar-group>

    </div><br> -->
    <div class="bg-white shadow rounded-md py-5">
        <div class="flow-root">
            <ul class="-my-5 divide-y divide-gray-200">
                <li class="p-4" v-for="result in pageOfItems" :key="result.id">
                    <div class="flex items-center space-x-4">
                        <!-- <div v-if="!result" style="padding: 10px">
                            <center><b>There are no church members currently</b></center>
                        </div> -->
                        <div class="flex-shrink-0">
                            <img v-if="result.email != 'admin@gmail.com'" class="h-12 w-12 rounded-full" :src="'/storage'+result.image" alt="">
                        </div>
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate">
                                {{result.fname}} {{result.lname}}
                            </p>
                            <p v-if="result.email != 'admin@gmail.com'" class="text-sm text-gray-500 truncate">
                                Phone: {{result.phone}}, District: {{result.district}}
                            </p>
                        </div>
                        <div v-if="result.email != 'admin@gmail.com'">
                            <router-link :to="{name: 'viewuser', params: { id: result.id }}" class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50">
                                View
                            </router-link>
                        </div>

                        <div v-if="result.email != 'admin@gmail.com'">
                            <router-link :to="{name: 'edituser', params: { id: result.id }}" class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-green-600 text-sm leading-5 font-medium rounded-full text-green-700 bg-white hover:bg-green-100">
                                Edit
                            </router-link>

                        </div>

                        <div v-if="result.email != 'admin@gmail.com'">
                            <button @click.prevent="deleteuser(result.id, 'top-right', 'success')" class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-red-600 text-sm leading-5 font-medium rounded-full text-red-700 bg-white hover:bg-red-100">
                                Delete
                            </button>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div><br>

    <!-- pagination -->

    <center>
        <div>
            <div>
                <jw-pagination :pageSize="7" :items="resources" @changePage="onChangePage" :styles="customStyles"></jw-pagination>
            </div>
        </div>
    </center>

</main>
</template>

<script>
const customStyles = {
    ul: {
        // border: '2px solid red'
    },
    li: {
        display: 'inline-block',
        border: '2px dotted green',
        // padding:'5px'
        color:'yellow'
    },
    a: {
        color: 'blue',
        
    }
};

export default {
    data() {
        return {
            customStyles,
            resources: [],
            count: '',
            message: {},
            age: '',
            keyword: null,
            pageOfItems: [],
        };
    },
    mounted() {
        window.scrollTo(0, 0);
        this.loaddata();
        this.filter();
    },
    created() {
        this.loaddata();
        this.filter();
    },
    computed: {
        getAge() {
            var birthday = this.resources.dateOfBirth;
            var today = new Date();
            var thisYear = 0;
            if (today.getMonth() < birthday.getMonth()) {
                thisYear = 1;
            } else if ((today.getMonth() == birthday.getMonth()) && today.getDate() < birthday.getDate()) {
                thisYear = 1;
            }
            this.age = today.getFullYear() - birthday.getFullYear() - thisYear;
        }
    },
    methods: {
        filter() {
            // if (keyword != null) {
            //     this.reload()
            // }
            const loading = this.$vs.loading({
                text: 'Loading list...',
                type: 'scale',
            })
            let uri = 'api/livesearch';
            this.axios.get(uri, {
                params: {
                    keyword: this.keyword
                }
            }).then(response => {
                this.resources = response.data;
                // if (response.data.status == 'blank') {
                //     const noti = this.$vs.notification({
                //         color: 'danger',
                //         position: 'top-right',
                //         title: 'Oops!',
                //         text: response.data.message
                //     });
                // }

                loading.close()
            }).catch(error => {
                alert(error)
                loading.close()
            });

        },
        noList(position = null, color) {
            const noti = this.$vs.notification({
                color: 'danger',
                position: 'top-right',
                title: 'Error',
                text: 'No Data'
            });
        },
        loaddata() {
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = 'api/allusers';
            this.axios.get(uri, {
                headers: {
                    Authorization: token
                }
            }).then(response => {
                this.count = response.data;
                localStorage.removeItem('apiData');
            }).catch(error => {
                alert(error)
            });
        },

        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },

        deleteuser(id, position = null, color) {
            const loading = this.$vs.loading({
                text: 'Deleting user...',
                type: 'scale'
            })
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = `/api/user/delete/${id}`;
            this.axios.delete(uri, {
                headers: {
                    Authorization: token
                }
            }).then(response => {
                loading.close()
                // this.data.splice(this.data, 1);
                const noti = this.$vs.notification({
                    color,
                    position,
                    title: 'Success!',
                    text: response.data.message
                })
                this.filter();
                this.loaddata();
            }).catch(error => {
                console.log(error)
                const noti = this.$vs.notification({
                    color: 'danger',
                    position,
                    title: 'Error',
                    text: 'Try deleting again'
                })
                reload();
            })
        },
        reload() {
            this.$router.go();
        }
    },
}
</script>

<style scoped>
/* .pagination ul{

}
.pagination li{

}
.pagination a{
    background-color: blue;
} */
</style>
