<template>
<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">

        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Good News Mission
        </h2>

        <h2 class="mt-0 text-center text-xl font-bold text-gray-900">
            Sign in to your account
        </h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <form class="space-y-6" @submit.prevent="login('top-center', 'success')">
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">
                        Email address
                    </label>
                    <div class="mt-1">
                        <input v-model="info.email" id="email" name="email" type="email" autocomplete="email" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                    </div>
                </div>

                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700">
                        Password
                    </label>
                    <div class="mt-1">
                        <input v-model="info.password" id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                    </div>
                </div>

                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <input id="remember_me" name="remember_me" type="checkbox" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
                        <label for="remember_me" class="ml-2 block text-sm text-gray-900">
                            Remember me
                        </label>
                    </div>

                    <div class="text-sm">
                        <a href="#" class="font-medium text-blue-600 hover:text-blue-500">
                            Forgot your password?
                        </a>
                    </div>
                </div>

                <div>
                    <button href="users.html" type="submit" class="submitbtn w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        Sign in
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
</template>

<script>
export default {

    data() {
        return {
            info: {}
        }
    },
    methods: {
        login(position = null, color) {
            const loading = this.$vs.loading({
                text: 'Please wait...',
                type:'scale'
            })
            let uri = "api/login";
            this.axios.post(uri, this.info).then(response => {
                loading.close()
                if (response.data.status) {
                    localStorage.setItem("token", response.data.access_token);
                    // document.cookie = response.data.access_token;
                    const noti = this.$vs.notification({
                        color,
                        position,
                        title: 'Welcome!',
                        text: response.data.message
                    })
                    this.$router.push({
                        name: "home"
                    });
                } else {
                    const noti = this.$vs.notification({
                        color:'danger',
                        position,
                        title: 'Sorry',
                        text: response.data.message
                    })
                }
            })
            .catch(error => {
                console.log(error)
                this.$notify({
                        group: 'foo',
                        text: 'Internal Server Error, Contact Admin',
                        type: 'error',
                        title: 'Error'
                    })

            });
        }
    },

}
</script>
