<template>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <center>
                    <div class="card-header"><b>Register new member</b></div><br><br>
                </center>

                <form style="background-color:white; padding-top:30px; padding-left:30px" @submit.prevent="register('top-right','success')">
                    <!-- <label for="fname">First Name</label> -->
                    <div class="grid grid-cols-3 gap-4">
                        <div>
                            <!-- <vs-input dark required v-model="formData.fname" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" type="text" id="fname" name="fname" label-placeholder="First Name" /> -->
                            <vs-input dark type="text" v-model="formData.fname" name="fname" id="fname" label-placeholder="First Name.." autocomplete="given-name" />
                        </div>
                        <div>
                            <vs-input dark required v-model="formData.lname" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" type="text" id="lname" name="lname" label-placeholder="Last Name" />
                        </div>
                        <div>
                            <vs-select label-placeholder="Select Gender" v-model="gender">
                                <vs-option label="Male" value="Male">
                                    Male
                                </vs-option>
                                <vs-option label="Female" value="Female">
                                    Female
                                </vs-option>

                            </vs-select>
                        </div>
                    </div><br><br>
                    <div class="grid grid-cols-3 gap-4">
                        <div>
                            <vs-select required label-placeholder="Marriage Status" v-model="marriage_status" id="marriage_status" name="marriage_status">
                                <vs-option label="Married" value="Married">
                                    Married
                                </vs-option>
                                <vs-option label="Single" value="Single">
                                    Single
                                </vs-option>
                            </vs-select>
                        </div>
                        <div>
                            <vs-input required type="date" v-model="formData.dateOfBirth" id="dateOfBirth" name="dateOfBirth" label-placeholder="Date" />
                        </div>
                        <div>
                            <vs-input required type="text" v-model="formData.phone" id="phone" name="phone" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="13" label-placeholder="Phone Number" />
                        </div>
                    </div><br><br>

                    <div class="grid grid-cols-3 gap-4">
                        <div>
                            <vs-input required v-model="formData.email" type="email" id="email" name="email" label-placeholder="Email" />
                        </div>
                        <div>
                            <vs-select required label-placeholder="District" v-model="district" id="district" name="district">
                                <vs-option label="Church" value="Church">
                                    Church
                                </vs-option>
                                <vs-option label="Roysambu" value="Roysambu">
                                    Roysambu
                                </vs-option>
                                <vs-option label="Mwiki" value="Mwiki">
                                    Mwiki
                                </vs-option>
                                <vs-option label="Githurai" value="Githurai">
                                    Githurai
                                </vs-option>
                                <vs-option label="Huruma" value="Huruma">
                                    Huruma
                                </vs-option>
                                <vs-option label="Starehe" value="Starehe">
                                    Starehe
                                </vs-option>
                                <vs-option label="Embakasi" value="Embakasi">
                                    Embakasi
                                </vs-option>
                                <vs-option label="Ruai" value="Ruai">
                                    Ruai
                                </vs-option>
                                <vs-option label="Ruaraka" value="Ruaraka">
                                    Ruaraka
                                </vs-option>

                                <vs-option label="Mathare" value="Mathare">
                                    Mathare
                                </vs-option>

                            </vs-select>
                        </div>
                        <div>
                            <vs-select required label-placeholder="Title" v-model="title" id="title" name="title">
                                <vs-option label="None" value="None">
                                    None
                                </vs-option>
                                <vs-option label="Pastor" value="Pastor">
                                    Pastor
                                </vs-option>
                                <vs-option label="Elder" value="Elder">
                                    Elder
                                </vs-option>
                                <vs-option label="Deacon" value="Deacon">
                                    Deacon
                                </vs-option>
                            </vs-select>
                        </div>

                    </div><br>

                    <div style="padding-right:60px" class="grid grid-cols-2 gap-6">
                        <div>
                            <label for="image">Select Group:</label>
                            <select required label-placeholder="Church group" v-model="group" id="group" name="group">
                                <option v-for="group in groups" :key="group.id" v-bind:value="group.name">
                                    {{group.name}}
                                </option>
                            </select>
                        </div>

                        <div>
                            <label for="fname">Photo (passport size) </label>
                            <input required type="file" id="image" name="image" ref="file" @change="handleFileObject()">
                        </div>

                    </div>
                    <div style="padding-right:60px" class="grid grid-cols-1 gap-6">
                        <div>
                            <textarea required rows="5" cols="30" v-model="formData.testimony" type="text" id="testimony" name="testimony" placeholder="Testimony.."> </textarea>
                        </div>
                        <button class="submitbtn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            groups: {},
            formData: {},

            image: null,
            gender: '',
            marriage_status: '',
            group: '',
            district: '',
            title: '',

        }
    },
    mounted() {
        const token = 'Bearer  ' + localStorage.getItem('token');
        let uri = 'api/grouplist';
        this.axios.get(uri, {
            headers: {
                Authorization: token,
            }
        }).then(response => {
            this.groups = response.data.list;

        }).catch(error => {
            (error)
            this.$notify({
                group: 'foo',
                text: 'Could not load data in the table',
                type: 'error',
                title: 'Error'
            });
        });
    },
    methods: {
        handleFileObject() {
            this.image = this.$refs.file.files[0]
        },
        reload() {
            this.$router.go();
        },
        register(position = null, color) {
            const loading = this.$vs.loading({
                text: 'Adding new member...',
                type: 'scale'
            })

            let formData = new FormData()
            formData.append('image', this.image)
            formData.append('gender', this.gender)
            formData.append('marriage_status', this.marriage_status)
            formData.append('group', this.group)
            formData.append('district', this.district)
            formData.append('title', this.title)
            _.each(this.formData, (value, key) => {
                formData.append(key, value)
            })

            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = 'api/register';
            this.axios.post(uri, formData, {
                headers: {
                    Authorization: token,
                    'Content-Type': "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2)
                }
            }).then((response) => {
                loading.close()
                if (response.data.status) {

                    const noti = this.$vs.notification({
                        color,
                        position,
                        title: 'Success',
                        text: response.data.message
                    })

                    this.formData = {},
                        this.marriage_status = '',
                        this.group = '',
                        this.gender = '',
                        this.district = '',
                        this.title = '',
                        this.$refs.file.value = null;
                }

            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({
                        name: 'register'
                    });

                } else {
                    loading.close();
                    const noti = this.$vs.notification({
                        color: 'danger',
                        position,
                        title: 'Error',
                        text: 'Email or Phone has already been registered by another user!'
                    })

                    // this.formData.email='',
                    // this.formData.phone=''
                    // this.$router.push({name: 'members'});
                }
            });
        }
    }

}
</script>

<style scoped>
input[type=file],
input[type=date],
textarea[type=text],
button,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    /* background-color: #45a049; */
}

/* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */
</style>
