<template>
   <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <router-link :to="{ name: 'home' }" class="navbar-brand">Laravel-Vue SPA</router-link>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <router-link class="nav-link" data-toggle="collapse" :to="{ name: 'home' }">
                        Home
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" data-toggle="collapse" :to="{ name: 'login' }">
                        Login
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" data-toggle="collapse" :to="{ name: 'register' }">
                        Register
                    </router-link>
                </li>
                 <li class="nav-item">
                    <router-link class="nav-link" data-toggle="collapse" :to="{ name: 'members' }">
                        Members
                    </router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
export default {

}
</script>

<style>

</style>