<template>
   <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <router-link :to="{ name: 'home' }" class="navbar-brand">Church Registration</router-link>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div v-if="token" id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <router-link class="nav-link" data-toggle="collapse" :to="{ name: 'home' }">
                        Home
                    </router-link>
                </li>
                <!-- <li class="nav-item">
                    <router-link class="nav-link" data-toggle="collapse" :to="{ name: 'login' }">
                        Login
                    </router-link>
                </li> -->
                <li class="nav-item">
                    <router-link class="nav-link" data-toggle="collapse" :to="{ name: 'register' }">
                        Register
                    </router-link>
                </li>
                 <li class="nav-item">
                    <router-link class="nav-link" data-toggle="collapse" :to="{ name: 'members' }">
                        Members
                    </router-link>
                </li>
                  <li class="nav-item">
                    <a href="" class="nav-link" data-toggle="collapse" v-on:click="logout()">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
export default {
    data() {
        return {
            token:'',
        }
    },
    mounted() {
        this.token = localStorage.getItem('token');
    },
    methods: {
          logout() {
                localStorage.clear();
                 this.$router.push({name: "login" });
                 this.$notify({group: 'foo',text: response.data.message,type:'success',title: 'Success!'});
        },
    },
}
</script>

<style>

</style>