<template>
<div class="container mt-5">
    <center>
        <h2>Families in church | <router-link :to="{name: 'regCouples'}"><u><b>Add new</b></u></router-link>
        </h2><br>

        <form>
            <input type="text" v-model="keyword" v-on:keyup="filter()" class="block w-full bg-white border border-gray-300 rounded-md py-2 pl-10 pr-3 text-sm placeholder-gray-500 focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Search family by names..">
        </form>
        <br>
        <table>
            <tr>
                <th>#</th>
                <th>Husband Name</th>
                <th>Wife Name</th>
                <th></th>

            </tr>
            <tr v-for="(user,index) in pageOfItems" :key="user.id">
                <td>{{index + 1}}</td>
                <td><img :src="'/storage'+user.himage" width="80px" height="80px" alt="Not Uploaded" /> {{user.hfname}} {{user.hlname}}</td>
                <td><img :src="'/storage'+user.wimage" width="80px" height="80px" alt="Not Uploaded" />{{user.wfname}} {{user.wlname}}</td><br><br>
                <div>
                    <router-link :to="{name: 'viewcouple', params: { id: user.id }}" class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50">
                        View
                    </router-link>
                    <button @click.prevent="delcouple(user.id,'top-right', 'success')" class="inline-flex items-center shadow-sm px-2.5 py-0.5 border border-red-600 text-sm leading-5 font-medium rounded-full text-red-700 bg-white hover:bg-red-100">
                        Delete
                    </button>
                </div>
                <br><br>
                <td></td>
            </tr>

        </table><br><br>

        <center>
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <jw-pagination id="customStyles" :pageSize="5" :items="data" @changePage="onChangePage"></jw-pagination>
                </div>
            </div>
        </center>
    </center>

</div>
</template>

<script>
export default {
    data() {
        return {
            data: [],
            // resources:[],
            result2: [],
            message: {},
            keyword: '',
            isShowing: false,
            pageOfItems: [],
        }
    },
    mounted() {
        window.scrollTo(0, 0);
        this.filter();
    },
    created() {
        this.loaddata()
        // this.result2 = this.data;
        this.filter();
    },
    methods: {
        filter() {
            const loading = this.$vs.loading({
                text: 'Loading list...',
                type:'scale'
            })

            let uri = 'api/familysearch';
            this.axios.get(uri, {
                params: {
                    keyword: this.keyword
                }
            }).then(response => {
                this.data = response.data;
                loading.close()
            }).catch(error => {
                alert(error)
            });
            // }
        },
        loaddata() {
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = '/api/allcouples';
            this.axios.get(uri, {
                headers: {
                    Authorization: token
                }
            }).then(response => {
                this.data = response.data.list;

            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({
                        name: 'login'
                    });
                    // clearSession();
                } else {
                    this.$notify({
                        group: 'foo',
                        text: 'Could not load data in the table',
                        type: 'error',
                        title: 'Error'
                    });
                }
            });
        },

        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },

        delcouple(id, position = null, color) {
            const loading = this.$vs.loading({
                text: 'Deleting...',
                type: 'scale'
            })
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = `api/couple/delete/${id}`;
            this.axios.delete(uri, {
                headers: {
                    Authorization: token
                }
            }).then(response => {
                loading.close()
                // this.data.splice(this.data, 1);
                const noti = this.$vs.notification({
                    color,
                    position,
                    title: 'Success',
                    text: response.data.message
                })

            }).catch(error => {
                console.log(error)
                loading.close()
                this.$notify({
                    group: 'foo',
                    text: 'Could not delete, try reloading the page',
                    type: 'error',
                    title: 'Error'
                });
            });
            this.loaddata();;

        }
    }
}
</script>

<style scoped>
a.page-link {
    background-color: blue;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

img {
    border-radius: 100%;
}

tr:hover {
    background-color: #f5f5f5;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>
