<template>
<div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols1 md:gap-6">
        <div class="mt-5 md:mt-0 md:col-span-2">
            Enter your details in the fields provided
            <form @submit.prevent="register">
                <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">
                        <div class="grid grid-cols-6 gap-6">

                            <div class="col-span-6 sm:col-span-3">
                                <b>Husband Details</b><br><br>
                                <input placeholder="Search for husband..." type="text" list="data" />
                                <datalist id="data">
                                    <option v-for="husband in husbands" :key="husband.id" v-bind:value="husband.phone"> {{husband.fname}} {{husband.lname}} </option>
                                </datalist>

                                <input style="padding:15px" type="text" required v-model="formData.hfname" name="hfname" id="hfname" placeholder="First name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <input style="padding:15px" type="text" required v-model="formData.hlname" name="hlname" id="hlname" placeholder="Last name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <input style="padding:15px" required type="date" v-model="formData.hdateOfBirth" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <input style="padding:15px" type="email" required v-model="formData.hemail" name="hemail" id="hemail" placeholder="Email.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <input style="padding:15px" required v-model="formData.hphone" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="13" id="hphone" name="hphone" placeholder="Phone Number.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <input style="padding:15px" required v-model="formData.hid" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="13" id="hid" name="hid" placeholder="ID Number.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"> <br>

                                <label for="first_name" class="block text-sm font-medium text-gray-700">Upload Image (passport size)</label>
                                <input style="padding:15px" type="file" id="himage" name="himage" ref="file" @change="handleFileObject" autocomplete="given-name" class="mt-1  focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <b>Wife Details</b><br><br>
                                <!-- <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label> -->
                                <input style="padding:15px" type="text" required v-model="formData.wfname" name="wfname" id="wfname" placeholder="First name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <!-- <label for="first_name" class="block text-sm font-medium text-gray-700">Last name</label> -->
                                <input style="padding:15px" type="text" required v-model="formData.wlname" name="wlname" id="wlname" placeholder="Last name" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <input style="padding:15px" required type="date" v-model="formData.wdateOfBirth" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <!-- <label for="wemail" class="block text-sm font-medium text-gray-700">Email</label> -->
                                <input style="padding:15px" type="email" required v-model="formData.wemail" name="wemail" id="wemail" placeholder="Email.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <!-- <label for="hphone" class="block text-sm font-medium text-gray-700">Phone</label> -->
                                <input style="padding:15px" required v-model="formData.wphone" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="13" id="wphone" name="wphone" placeholder="Phone Number.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <!-- <label for="hid" class="block text-sm font-medium text-gray-700">ID No.</label> -->
                                <input style="padding:15px" required v-model="formData.wid" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="13" id="wid" name="wid" placeholder="ID Number.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"> <br>

                                <label for="first_name" class="block text-sm font-medium text-gray-700">Upload Image (passport size)</label>
                                <input style="padding:15px" type="file" id="wimage" name="wimage" ref="file" @change="handleFileImage" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <center style="padding-left:100px"><b>Enter full names of children below</b><br><br></center>
                                <!-- <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label> -->
                                <input style="padding:15px" type="text" v-model="formData.child1" name="child1" id="child1" placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <!-- <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label> -->
                                <input style="padding:15px" type="text" v-model="formData.child2" name="child2" id="child2" placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <!-- <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label> -->
                                <input style="padding:15px" type="text" v-model="formData.child3" name="child3" id="child3" placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <!-- <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label> -->
                                <input style="padding:15px" type="text" v-model="formData.child4" name="child4" id="child4" placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <!-- <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label> -->
                                <input style="padding:15px" type="text" v-model="formData.child5" name="child5" id="child5" placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <b></b><br><br>
                                <!-- <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label> -->
                                <input style="padding:15px" type="text" v-model="formData.child6" name="child6" id="child6" placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <!-- <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label> -->
                                <input style="padding:15px" type="text" v-model="formData.child7" name="child7" id="child7" placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <!-- <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label> -->
                                <input style="padding:15px" type="text" v-model="formData.child8" name="child8" id="child8" placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <!-- <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label> -->
                                <input style="padding:15px" type="text" v-model="formData.child9" name="child9" id="child9" placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                                <!-- <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label> -->
                                <input style="padding:15px" type="text" v-model="formData.child10" name="child10" id="child10" placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"><br>

                            </div>

                        </div>
                    </div>
                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                        <button type="submit" class="submitbtn inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            groups: [],
            husbands: [],
            
            formData: {
                hfname: null,
                hlname: null,
                hdateOfBirth: null,
                hemail: null,
                hphone: null,
                hid: null,
                wfname: null,
                wlname: null,
                wdateOfBirth: null,
                wemail: null,
                wphone: null,
                wid: null,
                child1: null,
                child2: null,
                child3: null,
                child4: null,
                child5: null,
                child6: null,
                child7: null,
                child8: null,
                child9: null,
                child10: null,
            },
            himage: null,
            wimage: null,

        }
    },
    mounted() {

        let uri = '/api/married_male';
        this.axios.get(uri, ).then(response => {
            this.husbands = response.data.list;

        }).catch(error => {
            (error)
            this.$notify({
                group: 'foo',
                text: 'Could not load data in the table',
                type: 'error',
                title: 'Error'
            });
        });
    },
    methods: {
        handleFileObject(e) {
            this.himage = e.target.files[0];
        },
        handleFileImage(e) {
            this.wimage = e.target.files[0];
        },
        register() {
            loadbutton();
            let formData = new FormData()

            formData.append('himage', this.himage);
            formData.append('wimage', this.wimage)
            _.each(this.formData, (value, key) => {
                formData.append(key, value)
            })

            console.log('data reached this point')
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = '/api/regcouple';
            this.axios.post(uri, formData, {
                headers: {
                    Authorization: token,
                    'Content-Type': "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2)
                }
            }).then((response) => {
                stopbutton();
                if (response.data.status) {
                    this.$notify({
                        group: 'foo',
                        text: response.data.message,
                        type: 'success',
                        title: 'Success!'
                    });
                    this.formData = {
                        hfname: '',
                        hlname: '',
                        hdateOfBirth: '',
                        hemail: '',
                        hphone: '',
                        hid: '',
                        himage: '',
                        wfname: '',
                        wlname: '',
                        wdateOfBirth: '',
                        wemail: '',
                        wphone: '',
                        wid: '',
                        wimage: '',
                        child1: '',
                        child2: '',
                        child3: '',
                        child4: '',
                        child5: '',
                        child6: '',
                        child7: '',
                        child8: '',
                        child9: '',
                        child10: '',
                    };

                }
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({
                        name: 'regCouples'
                    });
                    clearSession();
                } else {
                    this.$notify({
                        group: 'foo',
                        text: 'The Email is already registered',
                        type: 'error',
                        title: 'Error'
                    });

                    stopbutton();
                    // this.$router.push({name: 'members'});
                }
            });
        }
    }

}
</script>

<style scoped>
input[type=text],
input[type=email],
input[type=file],
input[type=date],
textarea[type=text],
button,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>
