<template>
<div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols1 md:gap-6">
        <div class="mt-5 md:mt-0 md:col-span-2">
            <center><b>Enter family details in the spaces provided below</b><br><br></center>
            <form @submit.prevent="register('top-right','success')">
                <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">
                        <div class="grid grid-cols-6 gap-6">

                            <div class="col-span-6 sm:col-span-3">
                                <b>Husband Details</b><br><br>
                                <input required v-model="formData.husb_phone" placeholder="Search husband by name, contact ..." type="text" list="data" />
                                <datalist id="data">
                                    <option v-for="husband in husbands" :key="husband.id" v-bind:value="husband.phone"> {{husband.fname}} {{husband.lname}} </option>
                                </datalist>
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <b>Wife Details</b><br><br>
                                <input required v-model="formData.wife_phone" placeholder="Search wife by name, contact ..." type="text" list="wives" />
                                <datalist id="wives">
                                    <option v-for="wife in wives" :key="wife.id" v-bind:value="wife.phone"> {{wife.fname}} {{wife.lname}} </option>
                                </datalist>
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <center style="padding-left:100px"><b>Enter full names of children below</b><br><br></center>

                                <vs-input dark style="padding:15px" type="text" v-model="formData.child1" name="child1" id="child1" label-placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />

                                <vs-input dark style="padding:15px" type="text" v-model="formData.child2" name="child2" id="child2" label-placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />

                                <vs-input dark style="padding:15px" type="text" v-model="formData.child3" name="child3" id="child3" label-placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />

                                <vs-input dark style="padding:15px" type="text" v-model="formData.child4" name="child4" id="child4" label-placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />

                                <vs-input dark style="padding:15px" type="text" v-model="formData.child5" name="child5" id="child5" label-placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />

                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <b></b><br><br>

                                <vs-input dark style="padding:15px" type="text" v-model="formData.child6" name="child6" id="child6" label-placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />

                                <vs-input dark style="padding:15px" type="text" v-model="formData.child7" name="child7" id="child7" label-placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />

                                <vs-input dark style="padding:15px" type="text" v-model="formData.child8" name="child8" id="child8" label-placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />

                                <vs-input dark style="padding:15px" type="text" v-model="formData.child9" name="child9" id="child9" label-placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />

                                <vs-input dark style="padding:15px" type="text" v-model="formData.child10" name="child10" id="child10" label-placeholder="Full name.." autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />

                            </div>

                        </div>
                    </div>
                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                        <button type="submit" class="submitbtn inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            groups: [],
            husbands: [],
            wives: [],

            formData: {},
            himage: null,
            wimage: null,

        }
    },
    mounted() {
        const token = 'Bearer  ' + localStorage.getItem('token');
        let uri = '/api/married_male';
        this.axios.get(uri, {
            headers: {
                Authorization: token,
            }
        }).then(response => {
            this.husbands = response.data.list;

        }).catch(error => {
            (error)
            this.$notify({
                group: 'foo',
                text: 'Could not load data in the table',
                type: 'error',
                title: 'Error'
            });
        });
        
        
        let urif = '/api/married_female';
        // const token = 'Bearer  ' + localStorage.getItem('token');
        this.axios.get(urif, {
            headers: {
                Authorization: token,
            }
        }).then(response => {
            this.wives = response.data.list;

        }).catch(error => {
            (error)
            this.$notify({
                group: 'foo',
                text: 'Could not load data in the table',
                type: 'error',
                title: 'Error'
            });
        });
    },
    methods: {
        register(position = null, color) {
            const loading = this.$vs.loading({
                text: 'Please wait...',
                type: 'scale'
            })
            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = '/api/regcouple';
            this.axios.post(uri, this.formData, {
                headers: {
                    Authorization: token,
                }
            }).then((response) => {
                loading.close()
                if (response.data.status == 'true') {
                    const noti = this.$vs.notification({
                        color: 'success',
                        position,
                        title: 'Success',
                        text: response.data.message
                    })
                    this.formData = {};
                } else if (response.data.status == 'no-husb') {
                    const noti = this.$vs.notification({
                        color: 'danger',
                        position,
                        title: 'Error',
                        text: response.data.message
                    })
                } else if (response.data.status == 'no-wife') {
                    const noti = this.$vs.notification({
                        color: 'danger',
                        position,
                        title: 'Error',
                        text: response.data.message
                    })
                }
            }).catch(error => {
                console.log(error)
                const noti = this.$vs.notification({
                    color: 'danger',
                    position,
                    title: 'Error',
                    text: "The wife is already taken. Choose your wife"
                })
                loading.close();
                this.info = {};
            });
        }
    }

}
</script>

<style scoped>
input[type=text],
input[type=email],
input[type=file],
input[type=date],
textarea[type=text],
button,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>
