// CreatePost.vue

<template>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <center>
                    <div class="card-header">Add new Group</div>
                </center>

                <form @submit.prevent="addGroup('top-right','success')">
                    <!-- <label for="fname">First Name</label> -->
                    <input required v-model="info.name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" type="text" id="name" name="name" placeholder="Enter Group name">

                    <button class="submitbtn" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            info: {}
        }
    },
    methods: {
        addGroup(position = null, color) {
            // alert(this.info.name)
            // loadbutton();
            const loading = this.$vs.loading({
                text: 'Adding new group...',
                type:'scale'
            })

            const token = 'Bearer  ' + localStorage.getItem('token');
            let uri = '/api/addgroup';
            this.axios.post(uri, this.info, {
                headers: {
                    Authorization: token,
                }
            }).then((response) => {
                // stopbutton();
                loading.close();
                if (response.data.status) {
                    const noti = this.$vs.notification({
                        color,
                        position,
                        title: 'Success',
                        text: response.data.message
                    })
                    this.info = {};
                }
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({
                        name: 'register'
                    });
                    clearSession();
                } else {
                    this.$notify({
                        group: 'foo',
                        text: 'The group is already registered',
                        type: 'error',
                        title: 'Error'
                    });
                    stopbutton();
                    this.info = {};
                    // this.$router.push({name: 'members'});
                }
            });
        }
    }
}
</script>

<style scoped>
input[type=text],
input[type=email],
input[type=file],
input[type=date],
textarea[type=text],
button,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>
